body {
  background-color: #fffbef;
}

.notification {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.error_message {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.cv {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.link_section_cv {
  padding-right: 20px;
  cursor: pointer;
}

.cv_sections {
  background-color: aqua;
}

.top_btn_position {
  position: fixed;
  bottom: 15px;
  right: 20px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 4px solid #333;
  background-color: white;
  color: #333;
  cursor: pointer;
}

.hr_cv, .hr_project {
  border: 0;
  border-top: 2px solid #eee0b9;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
}

.chevron::before {
	border-style: solid;
	border-width: 0.2em 0.2em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	transform: rotate(-45deg);
	width: 0.45em;
  margin-left: 15px;
  margin-right: 15px;
}

.chevron.right:before {
	left: 0;
	transform: rotate(45deg);
}

.hr_projects {
  border: 0;
  width: 70%;
  border-top: 2px solid #eee0b9;
  margin-top: 50px;
}

.click_projects {
  font-size: 15px;
  font-weight: lighter;
  text-align: center;
  font-style: italic;
}

.project_foto {
  border-radius: 8px;
  border: solid 1px #eee0b9;
  width: 90%;
}

.project_foto_mobile {
  border-radius: 8px;
  border: solid 1px #eee0b9;
  width: 35%;
}

.project_foto_container {
  text-align: center;
}

.project_foto_container_mobile {
  text-align: center;
}

.project_name {
  text-align: center;
  margin-top: 40px;
}

.project_image {
  text-align: center;
}

.project_foto_mini {
  border-radius: 8px;
  border: solid 1px #eee0b9;
  width: 90%;
  scroll-margin-top: 100px;
}

.project_h4_center {
  text-align: center;
  margin-top: 30px;
}

.ul_no_bullets {
  list-style-type: none; /* Remove bullets */
  border-left: solid 2px #A52A2A;
  padding-left: 10px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.li_content {
  margin-bottom: 5px;
}

.a_style {
  color: #83677B;
  font-weight:lighter;
}

#personal_details{
  display:flex;
  justify-content:space-between;
}

#intro_wrapper {
  display: flex;
  margin-top: 55px;
}

.main_picture {
  border-radius: 8px;
  width: 180px;
  height: auto;
  margin-top: 5px;
}

.certificate {
  border-radius: 8px;
  border: solid 1px #eee0b9;
  width: 60%;
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.home_picture_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.home_contact_me_text {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .cv {
    margin-top: 45px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .project_foto_mini {
    border-radius: 8px;
    border: solid 1px #eee0b9;
    width: 100%;
    scroll-margin-top: 100px;
  }
  .project_foto {
    border-radius: 8px;
    border: solid 1px #eee0b9;
    width: 100%;
  }
  .home_picture_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
  }
}


@media (max-width: 500px) {

  #personal_details{
    display: flex;
  }
  #intro_wrapper {
    margin-top: 0px;
  }
  .main_picture {
    border-radius: 8px;
    max-width: 70%;
    height: auto;
  }
  .main_picture_div {
    margin: auto;
    width: 50%;
  }
  .main_picture_div_child {
    width: auto;
    height: auto;
    text-align: right;
  }

}

.home_welcome_picture {
  margin-top: 20px;
}

.home_welcome_text_down {
  font-family: 'Brush Script MT';
  font-weight: bold;
  font-size: 300%;
  text-align: center;
  margin-top: 20px;
}

.foto_home {
  border-radius: 200px;
}

.home_about_me_headline {
  text-align: center;
  margin-top: 70px;
}

.home_contact_me_headline {
  text-align: center;
  margin-top: 40px;
}

.home_about_me_text {
  margin-left: 10px;
  line-height: 1.8;
}

#intro_second {
  margin-left: 10px;
}


.motto {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.8;
}

.company {
  font-size: larger;
  font-weight: bold;
}

.job {
  font-size: large;
  font-weight: bold;
}

.aptitudes {
  margin-bottom: 30px;
}

.div_education {
  margin-bottom: 30px;
}

.list_it_aptitudes {
  column-count: 4;
  column-gap: 40px;
  margin-left: -20px;
}

.list_frontend_backend {
  column-count: 3;
  column-gap: 20px;
  margin-left: -20px;
  font-size: large;
}

.list_it_aptitudes li {
  line-height: 1.8;
}

.list_languages li {
  line-height: 1.8;
}

.line_height {
  line-height: 1.8;
}

.list_tasks li {
  line-height: 1.8;
}

.projects_container {
  display: flex;
  column-gap: 15px;
  border-radius: 5px;
  margin-top: 20px;
}

.headline_1 {
  text-align: center;
}

.sorry_no_project {
  margin-top: 20px;
  font-weight: bolder;
}